<header class="navbar">
  <div class="logo-container text-center">
    <%= image_tag 'react-logo.svg', height:100, width:100 %>
  </div>

  <%= link_to "Logout", destroy_user_session_path, method: :delete, class:'btn btn-primary pull-right' %>
</header>
<section>

  <div class="text-center">

    <h1>Welcome to Shine, <%= current_user.email %>! </h1>
    <h2>We're using Rails <%= Rails.version %></h2>

    <%= link_to 'Lookup Customers',customers_path, class: 'btn btn-primary' %>
  </div>
</section>
